.adminsList {
    margin: 0 auto;
    width: 90%;
}

.adminsList__name {
    margin: 50px auto 40px;
}

.adminsList__name h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.adminsList__count {
    margin-bottom: 40px;
}

.adminsList__count span {
    font-size: 1.9rem;
}

@media (max-width: 1025px) {
    .adminsList__name {
        margin: 45px auto 35px;
    }
}

@media (max-width: 600px) {
    .adminsList {
        width: 95%;
    }

    .adminsList__name h1 {
        font-size: 3rem;
    }
}