.deliveryCategoriesList {
    margin: 0 auto;
    width: 90%;
}

.deliveryCategoriesList__name {
    margin: 50px auto 40px;
}

.deliveryCategoriesList__name h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.deliveryCategoriesList__count {
    margin-bottom: 40px;
}

.deliveryCategoriesList__count span {
    font-size: 1.9rem;
}

@media (max-width: 1025px) {
    .deliveryCategoriesList__name {
        margin: 45px auto 35px;
    }
}

@media (max-width: 600px) {
    .deliveryCategoriesList {
        width: 95%;
    }

    .deliveryCategoriesList__name h1 {
        font-size: 3rem;
    }
}