.adminPage {
    max-width: 100%;
    display: flex;
}

.adminPage__content {
    margin-left: 270px;
    height: calc(100vh - 80px - 72px);
    max-height: calc(100vh - 80px - 72px);
    min-width: calc(100vw - 10vw - 270px);
    padding-right: 10vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .adminPage__content {
        min-width: calc(100vw - 5vw - 270px);
        padding-right: 5vw;
    }
}

@media (max-width: 1199px) {
    .adminPage__content {
        min-width: calc(100vw - 2.5vw - 270px);
        padding-right: 2.5vw;
    }
}

@media (max-width: 1025px) {
    .adminPage__content {
        min-width: calc(100vw - 2.5vw);
        margin-left: 0;
        padding-right: 2.5vw;
    }
}

@media (max-width: 500px) {
    .adminPage__content {
        height: calc(100vh - 125px - 72px);
        max-height: calc(100vh - 125px - 72px);
    }
}