.wrapper {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.wrapper__navBar {
    height: 72px;
    background: #221f1f;
}

.wrapper__content {
    padding-top: 72px;
    flex-grow: 1;
    height: 100%;
    margin: 0 auto;
}

.wrapper__contentIndent {
    padding-bottom: 50px;
}

@media (min-width: 1440px) {
    .wrapper__content {
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .wrapper__content {
        width: 90%;
    }
}

@media (max-width: 1199px) {
    .wrapper__content {
        width: 95%;
    }
}